
/*@import url('https://fonts.googleapis.com/css?family=Cookie');
*/


.swiper-slide{
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.container {
	height: 678px;
	width: 100%;
    position: absolute;
   top: 0;
   left: 0;
   font-family: 'Cookie', cursive;
   overflow: hidden;
}

#days {
  font-size: 50px;
  color: #FFF;
  text-align: center;
  letter-spacing: 3px;
}

.drop {
	position: absolute;
	top: 0;	
	z-index: -1;
    opacity: 0;
}
.snow {
	height: 8px;
	width: 8px;
	border-radius: 100%;
	background-color: #FFF;
  box-shadow: 0 0 10px #FFF
}


.animate {
	animation: falling 4.5s infinite ease-in;	
}


@keyframes falling {
	0% {top: 0; opacity: 1;}
	100% {top: 800px; opacity: 0}
}

/*第一屏*/

.jl-logo{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 200px;
	left: 200px;
	padding: 30px;
	box-sizing: border-box;
}
.jl-logo span{
	position: absolute;
	transition: all 1s;
	border-radius: 50%;
	border-style: double;
	border-color: #ccc;
	border-width: 10px;
	box-sizing: border-box;
}
.jl-logo span:nth-child(1){

	height: 200px;
	width: 200px;
	background:url(../img/22.png) no-repeat;
	backface-visibility: hidden;
	transform: rotateY(-180deg);
	background-origin: content-box;
	background-clip:content-box;
	-webkit-background-size: cover;
	background-size: cover;
}
.jl-logo  span:nth-child(2){
	height: 200px;
	width: 200px;
	background: url(../img/21.png) no-repeat;
	backface-visibility: hidden;
	background-origin: content-box;
	background-clip:content-box;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: right top; 
}

.jl-logo:hover span:nth-child(1){
	transform: rotateY(0deg);
}

.jl-logo:hover span:nth-child(2){
	transform: rotateY(180deg);
}




.user-info{
	width: 600px;
	height: 250px;
	position: absolute;
	top: 250px;
	left: 600px;
	overflow: hidden;
}

.user-info  div span{
	font-size: 30px;
	display: inline-block;
}

.user-info  div span:nth-child(2){
	margin-left: 40px;
	transform: translateY(-400px);
}

.user-name{
	transform: translateX(-300px);
}
.user-sex{
	transform: translateX(-300px);
}
.user-school{
	transform: translateX(-300px);
}
.user-job{
	transform: translateX(-300px);
}
.user-zym{
	transform: translateX(-300px);
}

.user-name{
	
	animation: fuweix 0.5s 1s;
	animation-fill-mode: forwards;
}
.fe{
	animation: fuweiy 0.5s 2s;
	animation-fill-mode: forwards;
}

.user-sex{
	animation: fuweix 0.5s 2.5s;
	animation-fill-mode: forwards;
}
.male{
	animation: fuweiy 0.5s 3s;
	animation-fill-mode: forwards;
}
.user-school{
	animation: fuweix 0.5s 3.5s;
	animation-fill-mode: forwards;
}
.cjdx{
	animation: fuweiy 0.5s 4s;
	animation-fill-mode: forwards;
}

.user-job{
	animation: fuweix 0.5s 4.5s;
	animation-fill-mode: forwards;
}
.en{
	animation: fuweiy 0.5s 5s;
	animation-fill-mode: forwards;
}
.user-zym{
	animation: fuweix 0.5s 5.5s;
	animation-fill-mode: forwards;
}
.dg{
	animation: fuweiy 0.5s 6s;
	animation-fill-mode: forwards;
}

@keyframes fuweix{
	100%{
		transform: translateX(0px);
	}
}

@keyframes fuweiy{
	  0%{
      transform:translate(0,-2000px);
      opacity: 0;
  }

  60%{
    transform:translate(0,25px);
    opacity: 1;
  }

  75%{
    transform:translate(0,-15px);
  }

  90%{
    transform:translate(0,10px);
  }

  100%{
    transform:translate(0,0px);
  }
}


/*第二瓶*/
.slide2{

	/*perspective 属性指定了观察者与z=0平面的距离，使具有三维位置变换的元素产生透视效果。z>0的三维元素比正常大，而z<0时则比正常小，大小程度由该属性的值决定。默认情况下，消失点位于元素的中心，但是可以通过设置perspective-origin属性来改变其位置。*/
	-webkit-perspective: 1000px;
	perspective: 1000px;
	background-color: #212121;
	font-family: '微软雅黑';
}
.book {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	width: 300px;
	height: 300px;
	background-color: #fff;
	transform: rotateX(30deg);
}
.preserve-3d {

	/*transform-style属性指定了，该元素的子元素是（看起来）位于三维空间内，还是在该元素所在的平面内被扁平化。*/
	transform-style: preserve-3d;
}
.book-page {
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 300px;
	border: 1px solid #1976D2;
	text-align: center;
}
.book-page-box {
	transform-origin: 0 50%;
	transform: rotateY(0deg);
}
@keyframes flipBook1 {
	0% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(-160deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}


@keyframes flipBook2 {
	0% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(-150deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}


@keyframes flipBook3 {
	0% {
		
		transform: rotateY(0deg);
	}
	50% {
		
		transform: rotateY(-140deg);
	}
	100% {
		
		transform: rotateY(0deg);
	}
}


/*书的封面*/
.book-page-1 .page-front {
	background-color: #1976D2;
}
.book-page-1 .page-back {
	background-color: #fff;
}
.book-page-1 .page-front p {
	font-size: 30px;
	color: #fff;
	margin-top: 100px;
}
.flip-animation-1 {
	animation: flipBook1 17s;
}

/*书的第二页*/
.book-page-2 .page-back, .book-page-2 .page-front {
	background-color: #fff;
}
.book-page-2 .page-front p {
	font-size: 30px;
	color: #1976D2;
	margin-top: 100px;
}
.flip-animation-2 {
	animation: flipBook2 13s 2s;
	
}

/*书的第三页*/
.book-page-3 .page-back, .book-page-3 .page-front {
	background-color: #fff;
}
.book-page-3 .page-front p {
	font-size: 30px;
	color: #1976D2;
	margin-top: 100px;
}
.flip-animation-3 {
	animation: flipBook3 10s 3s;
	
}

/*书的第四页*/
.book-page-4 .page-front p {
	font-size: 30px;
	color: #1976D2;
	margin-top: 100px;
}

/*第三屏*/

.works-box{
	width: 960px;
	height: 640px;
	margin: 0 auto;
	background-color: black;
	position: relative;
	z-index: -2;
}
.works-small-left{
	width:390px;
	height: 248px;
	background: url(bg.png) repeat-x top left;
	position: absolute;
	top: 150px;
	left: -40px;
	opacity: .45;
}
.wrap-left{
	position: absolute;
	top: 4px;
	left: 5px;
	width: 380px;
	height: 240px;
	
    overflow: hidden;
}
.wrap-left ul,
.wrap-right ul{
	width: 9999px;
	height: 240px;
	
}
.wrap-left ul li,
.wrap-right ul li{
	width: 380px;
	height: 240px;
	float: left;
}
.wrap-left ul li img,
.wrap-right ul li img{
	width: 380px;
}
.works-small-right{
	width:390px;
	height: 248px;
	background: url(bg.png) repeat-x top left;
	position: absolute;
	top: 150px;
	right: -40px;
	opacity: .45;
}
.wrap-right{
	position: absolute;
	top: 4px;
	left: 5px;
	width: 380px;
	height: 240px;
    overflow: hidden;
}



#frame-center-shadow {
    position: absolute;
    top: 150px;
    left: 45px;
    width: 870px;
}
.works-large-center{
	position: absolute;
    top: 80px;
    left: 150px;
    width: 660px;
    height: 420px;
    background: url(bg.png) repeat-x top left;
}

.wrap-center{
	position: absolute;
    top: 10px;
    left: 10px;
    width: 640px;
    height: 400px;
    overflow: hidden;
}
.wrap-center ul{
	height: 400px;
	width: 9999px;
}
.wrap-center ul li{
	list-style: none;
	float: left;
	width: 640px;
	height: 400px;
}
.works-title{
	height: 20px;
	width: 640px;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
}
.works-more{
	height: 20px;
	width: 640px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	text-align: center;
	
}
.works-img{
	position: absolute;
    width: 640px;
	height: 400px;
	transition: all .5s ;
	z-index: 99;
}
.works-img img{
	width: 100%;
	height: 100%;
}
.works-img:hover{
	transform: translateY(20px);
	height: 360px;
}
.back {
    position: absolute;
    top: 230px;
    left: 70px;
    width: 51px;
    height: 88px;
    background: url(../img/frame-arrows.png) no-repeat top left;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 6;
    cursor: pointer;
   
}
.next{
	
	position: absolute;
    top: 230px;
    right: 70px;
    width: 51px;
    height: 88px;
    background: url(../img/frame-arrows.png) no-repeat top right;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 6;
    cursor: pointer;
}


.works-shadow{
	width: 960px;
	height: 170px;
	position: absolute;
    left: 0px;
    top: 435px;
    overflow: hidden;
    z-index: -1;
}

.shadow-color{
	position: absolute;
	width: 960px;
	height: 170px;
	background: green;
	z-index: -2;
}

.works-shadow img{
	width: 960px;
	position: relative;
	z-index: -1;
}

/*花圈*/

.slide4{
	position: relative;
	background-color: black;
	width: 100%;
	height: 100%;
}
.demo-box *{
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.cir {
  width: 100px;
  height: 100px;
}
.circle:nth-child(1) {
  -webkit-transform: rotate(30deg) translate(80px);
          transform: rotate(30deg) translate(80px);
}
.circle:nth-child(2) {
  -webkit-transform: rotate(60deg) translate(80px);
          transform: rotate(60deg) translate(80px);
}
.circle:nth-child(3) {
  -webkit-transform: rotate(90deg) translate(80px);
          transform: rotate(90deg) translate(80px);
}
.circle:nth-child(4) {
  -webkit-transform: rotate(120deg) translate(80px);
          transform: rotate(120deg) translate(80px);
}
.circle:nth-child(5) {
  -webkit-transform: rotate(150deg) translate(80px);
          transform: rotate(150deg) translate(80px);
}
.circle:nth-child(6) {
  -webkit-transform: rotate(180deg) translate(80px);
          transform: rotate(180deg) translate(80px);
}
.circle:nth-child(7) {
  -webkit-transform: rotate(210deg) translate(80px);
          transform: rotate(210deg) translate(80px);
}
.circle:nth-child(8) {
  -webkit-transform: rotate(240deg) translate(80px);
          transform: rotate(240deg) translate(80px);
}
.circle:nth-child(9) {
  -webkit-transform: rotate(270deg) translate(80px);
          transform: rotate(270deg) translate(80px);
}
.circle:nth-child(10) {
  -webkit-transform: rotate(300deg) translate(80px);
          transform: rotate(300deg) translate(80px);
}
.circle:nth-child(11) {
  -webkit-transform: rotate(330deg) translate(80px);
          transform: rotate(330deg) translate(80px);
}
.circle:nth-child(12) {
  -webkit-transform: rotate(360deg) translate(80px);
          transform: rotate(360deg) translate(80px);
}
.circle:nth-child(13) {
  -webkit-transform: rotate(16.36364deg) translate(180px);
          transform: rotate(16.36364deg) translate(180px);
}
.circle:nth-child(14) {
  -webkit-transform: rotate(32.72727deg) translate(180px);
          transform: rotate(32.72727deg) translate(180px);
}
.circle:nth-child(15) {
  -webkit-transform: rotate(49.09091deg) translate(180px);
          transform: rotate(49.09091deg) translate(180px);
}
.circle:nth-child(16) {
  -webkit-transform: rotate(65.45455deg) translate(180px);
          transform: rotate(65.45455deg) translate(180px);
}
.circle:nth-child(17) {
  -webkit-transform: rotate(81.81818deg) translate(180px);
          transform: rotate(81.81818deg) translate(180px);
}
.circle:nth-child(18) {
  -webkit-transform: rotate(98.18182deg) translate(180px);
          transform: rotate(98.18182deg) translate(180px);
}
.circle:nth-child(19) {
  -webkit-transform: rotate(114.54545deg) translate(180px);
          transform: rotate(114.54545deg) translate(180px);
}
.circle:nth-child(20) {
  -webkit-transform: rotate(130.90909deg) translate(180px);
          transform: rotate(130.90909deg) translate(180px);
}
.circle:nth-child(21) {
  -webkit-transform: rotate(147.27273deg) translate(180px);
          transform: rotate(147.27273deg) translate(180px);
}
.circle:nth-child(22) {
  -webkit-transform: rotate(163.63636deg) translate(180px);
          transform: rotate(163.63636deg) translate(180px);
}
.circle:nth-child(23) {
  -webkit-transform: rotate(180deg) translate(180px);
          transform: rotate(180deg) translate(180px);
}
.circle:nth-child(24) {
  -webkit-transform: rotate(196.36364deg) translate(180px);
          transform: rotate(196.36364deg) translate(180px);
}
.circle:nth-child(25) {
  -webkit-transform: rotate(212.72727deg) translate(180px);
          transform: rotate(212.72727deg) translate(180px);
}
.circle:nth-child(26) {
  -webkit-transform: rotate(229.09091deg) translate(180px);
          transform: rotate(229.09091deg) translate(180px);
}
.circle:nth-child(27) {
  -webkit-transform: rotate(245.45455deg) translate(180px);
          transform: rotate(245.45455deg) translate(180px);
}
.circle:nth-child(28) {
  -webkit-transform: rotate(261.81818deg) translate(180px);
          transform: rotate(261.81818deg) translate(180px);
}
.circle:nth-child(29) {
  -webkit-transform: rotate(278.18182deg) translate(180px);
          transform: rotate(278.18182deg) translate(180px);
}
.circle:nth-child(30) {
  -webkit-transform: rotate(294.54545deg) translate(180px);
          transform: rotate(294.54545deg) translate(180px);
}
.circle:nth-child(31) {
  -webkit-transform: rotate(310.90909deg) translate(180px);
          transform: rotate(310.90909deg) translate(180px);
}
.circle:nth-child(32) {
  -webkit-transform: rotate(327.27273deg) translate(180px);
          transform: rotate(327.27273deg) translate(180px);
}
.circle:nth-child(33) {
  -webkit-transform: rotate(343.63636deg) translate(180px);
          transform: rotate(343.63636deg) translate(180px);
}
.circle:nth-child(34) {
  -webkit-transform: rotate(360deg) translate(180px);
          transform: rotate(360deg) translate(180px);
}

.circle .arc {
  border-right: 10px solid #00ff96;
  border-radius: 50%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-animation: arcAnimation 2s linear infinite;
          animation: arcAnimation 2s linear infinite;
}

@keyframes arcAnimation {
  100% {
    -webkit-transform: rotate(450deg);
            transform: rotate(450deg);
  }
}

/*btn*/
.btn{
	width: 100px;
	height: 160px;
	position: absolute;
	top:200px;
	left: 20px;
	background: none;
}
.btn:hover{
	background: none;
}
.btn-item{
	height: 40px;
	width: 100px;
	text-align: center;
	line-height: 40px;
	margin-top: 10px;
	background-color: deepskyblue;
	
}
.btn-item a{
	display: block;
	height: 100%;
	width: 100%;
	color: white;
	font-size: 25px;
	font-weight: 900;
}

.cir1{
	height: 100px;
}
.cir2{
	width: 100px;
}
.cir3{
	width: 0px;
}
.cir4{
	height: 100px;
	width: 0px;
}




